.form-field .list-view {
    -fx-background-color: #ffffff;
}

.form-field .list-view .list-cell {
    -fx-text-fill: #333333;
    -fx-padding: 8px 10px;
    -fx-cursor: hand;
}

.form-field .list-view .list-cell:filled:hover {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #0056b3;
}

.form-field .list-view .list-cell:filled:selected,
.form-field .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #0056b3;
    -fx-text-fill: white;
}


.form-field .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
}

.image-preview-box {
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-background-color: white;
}

.button-remove {
    -fx-background-color: #ff0101;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 10px;
    -fx-cursor: hand;
    -fx-background-radius: 3px;
}

.button-remove:hover {
    -fx-background-color: #cc0000;
}

.image-card {
    -fx-padding: 5px;
    -fx-background-color: transparent;
}


.button.button-remove {
    -fx-background-color: #ff0101;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 10px;
    -fx-cursor: hand;
    -fx-background-radius: 3px;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-padding: 0;
}

.button.button-remove:hover {
    -fx-background-color: #cc0000;
}
.context-menu .menu-item {
    -fx-cursor: hand;
}

.context-menu .menu-item > .label {
    -fx-cursor: hand;
}
/* Cursor HAND sul popup del ComboBox */
.combo-box-popup .list-view {
    -fx-cursor: hand;
}

.combo-box-popup .list-view .list-cell {
    -fx-cursor: hand;
}

/* Hover incluso */
.combo-box-popup .list-view .list-cell:hover {
    -fx-cursor: hand;
}

.combo-box {
    -fx-cursor: hand;
}

.combo-box .arrow-button {
    -fx-cursor: hand;
}

.combo-box .arrow {
    -fx-cursor: hand;
}
