.root {
    -fx-background-color: rgb(230, 230, 230);
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
* {
    -fx-font-family: "Calibri";
}

.myPadding {
    -fx-padding: 10px;
}

.bold {
    -fx-font-weight: bold;
}

.title {
    -fx-font-size: 50px;
}

.description {
    -fx-font-size: 18px;
}

.label{
    -fx-font-size: 24px;
}

.form-field {
    -fx-max-width: 400px;
    -fx-pref-height: 55px;
    -fx-font-size: 24px;
}

.button {
    -fx-padding: 15px 20px;
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.button:hover {
    -fx-background-color: #0056b3;
}

.button:pressed {
     -fx-background-color: #004085;
}

.right{
    -fx-border-color: blue;
}

.error{
    -fx-border-color: red;
}

.error-text {
    -fx-fill: #ff4444; 
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.log-error{
    -fx-fill: #ff4444;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.profile-picture{
    -fx-fit-to-width: 150px;
    -fx-fit-to-height: 150px;
}

.annulla{
    -fx-background-color: #808080;
}

.button-cambia-immagine{
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.matricolafield, .emailfield{
    -fx-opacity: 0.7;
}